#logoBar{
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    
}

.uh{
    position: relative;
}

body{
    background: center/100% url("/images/woodbg.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.white{
    color:white
}
.gold{
    color:rgb(238,229,109)
}
h1{
    color:white
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}